appdirs
attrs
Automat
bcrypt
Brotli
certifi
cffi
charset-normalizer
constantly
cryptography
cssselect
defusedxml
filelock
h2
hpack
hyperframe
hyperlink
idna
incremental
itemadapter
itemloaders
jmespath
lxml
packaging
parsel
Protego
pyasn1
pyasn1_modules
pycparser
PyDispatcher
pyOpenSSL
PySocks
queuelib
requests
requests-file
Scrapy
service-identity
six
tabulate
tldextract
tomli
Twisted
typing_extensions
urllib3
w3lib
zope.interface
zstandard